html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    background: #f5f6f8;
    font-family: Arial;
}

.main-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: #fff;
    border-right: 1px solid #ddd;
    height: 100vh;
}

.sidebar-menu {
    padding: 15px;
}

.menu-item {
    padding: 10px;
    color: #555;
    cursor: pointer;
}

    .menu-item.active {
        background: #e9ecef;
        font-weight: bold;
    }

/* CONTENT */
.content-area {
    flex: 1;
    padding: 20px;
}

.page-title {
    margin-bottom: 15px;
}

/* TREE */
.tree-card {
    background: #fff;
    border: 1px solid #ddd;
}

.tree-header {
    background: #2f80ed;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.tree-item {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.tree-sub {
    padding: 6px 25px;
    color: #666;
}

/* CARD TABLE */
.card-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
}

.card-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-table th {
    background: #f8f9fa;
}

/* PAGINATION */
.pagination-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
}

.pagination .active {
    background: #2f80ed;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
}